     -------
      jFastCGI Download information
     -------
     -------
      2013-08-10
      -------

      There are different ways on how to integrate jFastCGI with your application. We suggest to add the dependency
      to your project using a dependency resolver like {{{http://maven.apache.org}Apache Maven}}, {{{http://ant.apache.org/ivy/}Apache Ivy}
      or {{{http://www.gradle.org/}Gradle}}.

Manual installation:

      To manually add jFastCGI to your application, you'll need at least to get the following files:

      * Apache Commons Pool: {{http://repo1.maven.org/maven2/commons-pool/commons-pool/1.6/commons-pool-1.6.jar}}

      * SLF4J API: {{http://repo1.maven.org/maven2/org/slf4j/slf4j-api/1.7.5/slf4j-api-1.7.5.jar}}

      * jFastCGI Bundled Client: {{http://www.jfastcgi.org/maven/releases/org/jfastcgi/client/client-bundled/${project.version}/client-bundled-${project.version}.jar}}


Automated dependency resolving

    For usages on how to include this dependencies with your dependency resolver, see these pages:

    * Client

       * {{{./client-servlet/dependency-info.html}Client-Servlet}}

         Dependency required for integrating jFastCGI with a Servlet Container like Tomcat, Jetty, etc.

       * {{{./client-spring/dependency-info.html}Client-Servlet with Spring Integration}}

         Depedency required for integrating jFastCGI with the Spring Framework with a Servlet Container

       * {{{./client-portlet/dependency-info.html}Client-Portlet}}

         Dependency required for integrating jFastCGI with a Portlet Container (Liferay etc.)

    * {{{./server/dependency-info.html}Server}}

      If you want to create FastCGI Applications with Java, include this dependency.

    []
